:root {
  --brand-dark-gray: #f0f0f0;
  --brand-white: #fff;
  --brand-light-gray: #f6f6f6;
  --brand-turquoise: #c5f5fa;
  --brand-black: #000;
  --brand-red: #ff5b5a;
  --container-width: 1170px;
  --gutter: 20px;
  --gutter-sml: 10px;
  --default-font-family: 'Open Sans', sans-serif;
  --secondary-font-family: 'Roboto';
  --tertiary-font-family: 'Helvetica';
}

body {
  background-color: var(--brand-white);
}

img {
  width: 100%;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.app-header {
  background-color: var(--brand-light-gray);
  padding-top: var(--gutter);
}

.app-header .row:nth-child(1),
.app-header .row:nth-child(2) {
  padding-bottom: var(--gutter);
}

.app-header .row:nth-child(3) {
  padding-bottom: var(--gutter-sml);
}

.flex-it {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product.flex-it {
  display: flex;
  justify-content: space-between;
}

.product-description .column {
  min-height: 444px;
}

.product-description .column:nth-child(2) {
  background-color: var(--brand-turquoise);
}

.product.flex-it .column,
.product-description.flex-it .column {
  flex-basis: 50%;
  /*width: 50%;*/
}

.account-nav ul,
.main-navigation ul,
.bread-crumb ol,
.product-nav ul,
.product-description ul {
  list-style: none;
}

.account-nav li,
.main-navigation li,
.bread-crumb li,
.product-nav li,
.product-description li {
  display: inline-block;
}

.logo {
  width: 122px;
}

.app-body {
  background-color: var(--brand-white);
}

.bread-crumb {
  padding: var(--gutter);
}

.bread-crumb li {
  padding: var(--gutter);
}

.bread-crumb li:after {
  content: '>';
  padding-left: var(--gutter-sml);
  padding-right: var(--gutter-sml);
}

.bread-crumb li:last-child::after {
  content: '';
}

.product .column:nth-child(2) {
  background-color: var(--brand-turquoise);
}

.app-footer {
  background-color: var(--brand-black);
}

a:link,
a:visited {
  color: var(--brand-black);
  text-decoration: none;
}

.search-form {
  position: relative;
}

.search-form label {
  display: none;
}

.search-form input {
  width: 100%;
  padding: var(--gutter-sml);
}

.search-form button {
  position: absolute;
  top: var(--gutter-sml);
  left: var(--gutter-sml);
}

@media screen and (min-width: 768px) {
  .flex-it {
    flex-direction: row;
  }
}
